/* Gesamte Seite */

	/** Bilder **/

	/** Links **/

	/** Formular-Felder **/



/* Bereiche */

	/** Kopfzeile **/

		/*** Bilder ***/

		/*** Login-Feld / Logout-Feld ***/
		
#login_feld {
	margin-top: 29px;
}

		/*** Benutzerkonto anlegen ***/

#benutzerkonto_anlegen {
	margin-top: 24px;
}

	/** Hauptzeile **/

		/*** Navigationszelle ***/

nav ul li a, nav ul li span{
	padding: 6px 0 6px 5px;
}

nav ul li a:last-child, nav ul li span:last-child {
	padding-bottom: 0;
}


		/*** Artikelzelle ***/

			/**** Artikelseite ****/

				/***** Überschriften *****/

				/***** Inhaltsverzeichnis *****/

				/***** Kategoriefeld *****/

			/**** Hauptseite ****/

	/** Fußzeile **/




/* Sonstiges */
	
	/** Sonstige Klassen **/